# What is the problem?
Predict the survival of passengers on the Titanic, a classic binary classification problem. The objective is to model the probability that a passenger survived based on various features.

# What is the type of machine learning?
The approach used is supervised learning because the model is trained using a dataset that includes both the input features (predictors) and the output label (the target variable 'Survived'). Specifically, the technique applied is logistic regression, which is used for binary classification tasks.

# What are the feature variables and target variables?
## Target Variable: 'Survived'
  This is what the model is trying to predict: whether a passenger survived (1) or did not survive (0
## Feature Variables:
'Travel_Class', 'Sex', 'Age', 'NumSiblings_Spouses',
       'NumParents_Children', 'Embarked').

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Dataset/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.shape

(891, 12)

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
updated_df = df[['Survived', 'Pclass', 'Sex', 'Age', 'SibSp',
       'Parch', 'Fare', 'Embarked']].reset_index(drop=True)
updated_df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [9]:
updated_df.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [31]:
updated_df.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [32]:
for column in updated_df[['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch',
       'Embarked']]:
    print(updated_df[column].value_counts())

Survived
0    549
1    342
Name: count, dtype: int64
Pclass
3    491
1    216
2    184
Name: count, dtype: int64
Sex
male      577
female    314
Name: count, dtype: int64
SibSp
0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: count, dtype: int64
Parch
0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: count, dtype: int64
Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [11]:
# Converting categorical variables into dummy variables
df = pd.get_dummies(df, columns=['Sex', 'Embarked'], drop_first=True)

In [12]:
# Splitting the dataset
X = df.drop('Survived', axis=1)
y = df['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=123)

In [22]:
# the training dataset setup for Statsmodels
train_data = df.iloc[X_train.index]  # Only use the rows from the training set
train_data.head()

,Survived,Travel_Class,Age,NumSiblings_Spouses,NumParents_Children,Sex_male,Embarked_Q,Embarked_S
329,1,1,16.0,0,1,False,False,False
749,0,3,31.0,0,0,True,True,False
203,0,3,45.5,0,0,True,False,False
421,0,3,21.0,0,0,True,True,False
97,1,1,23.0,0,1,True,False,False

In [24]:
train_data.columns

Index(['Survived', 'Travel_Class', 'Age', 'NumSiblings_Spouses',
       'NumParents_Children', 'Sex_male', 'Embarked_Q', 'Embarked_S'],
      dtype='object')

# What machine learning algorithms were used? 
The machine learning algorithm used was logistic regression, a popular method for binary classification tasks

# Which is better?

Given thatheur target variable nd binary (either 0 or 1), logistic regression is indeed a suitabl
and often highly effective choice for such classification problemse

In [25]:
# creating multiple model with `statsmodels`
f1 = 'Survived ~ Travel_Class + Sex_male + Age + NumSiblings_Spouses + NumParents_Children + Embarked_Q + Embarked_S'
f2 = 'Survived ~ Travel_Class + Embarked_Q + Embarked_S'
f3 = 'Survived ~ Travel_Class + Sex_male + Age + Embarked_Q + Embarked_S'
f4 = 'Survived ~  NumSiblings_Spouses + NumParents_Children'

In [76]:
# Creating and fitting the logistic regression models using the specified formulas
model_1 = smf.logit(f1, data=train_data).fit()
model_2 = smf.logit(f2, data=train_data).fit()
model_3 = smf.logit(f3, data=train_data).fit()
model_4 = smf.logit(f4, data=train_data).fit()

Optimization terminated successfully.
         Current function value: 0.448756
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.608686
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.455715
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.659220
         Iterations 5

In [77]:
# Display the summaries of the models
model_1.summary(),model_2.summary(), model_3.summary(), model_4.summary()

(<class 'statsmodels.iolib.summary.Summary'>
 """
                            Logit Regression Results
 ==============================================================================
 Dep. Variable:               Survived   No. Observations:                  712
 Model:                          Logit   Df Residuals:                      704
 Method:                           MLE   Df Model:                            7
 Date:                Sun, 12 May 2024   Pseudo R-squ.:                  0.3285
 Time:                        15:54:11   Log-Likelihood:                -319.51
 converged:                       True   LL-Null:                       -475.84
 Covariance Type:            nonrobust   LLR p-value:                 1.196e-63
 =======================================================================================
                           coef    std err          z      P>|z|      [0.025      0.975]
 ---------------------------------------------------------------------------------------
 Intercept               5.3596      0.559      9.586      0.000       4.264       6.456
 Sex_male[T.True]       -2.7187      0.223    -12.196      0.000      -3.156      -2.282
 Embarked_Q[T.True]      0.0587      0.413      0.142      0.887      -0.751       0.869
 Embarked_S[T.True]     -0.3273      0.263     -1.244      0.213      -0.843       0.188
 Travel_Class           -1.1525      0.142     -8.103      0.000      -1.431      -0.874
 Age                    -0.0382      0.008     -4.625      0.000      -0.054      -0.022
 NumSiblings_Spouses    -0.3160      0.117     -2.697      0.007      -0.546      -0.086
 NumParents_Children    -0.0111      0.135     -0.083      0.934      -0.276       0.254
 =======================================================================================
 """,
 <class 'statsmodels.iolib.summary.Summary'>
 """
                            Logit Regression Results
 ==============================================================================
 Dep. Variable:               Survived   No. Observations:                  712
 Model:                          Logit   Df Residuals:                      708
 Method:                           MLE   Df Model:                            3
 Date:                Sun, 12 May 2024   Pseudo R-squ.:                 0.08923
 Time:                        15:54:11   Log-Likelihood:                -433.38
 converged:                       True   LL-Null:                       -475.84
 Covariance Type:            nonrobust   LLR p-value:                 2.703e-18
 ======================================================================================
                          coef    std err          z      P>|z|      [0.025      0.975]
 --------------------------------------------------------------------------------------
 Intercept              1.7579      0.275      6.396      0.000       1.219       2.297
 Embarked_Q[T.True]     0.2678      0.333      0.803      0.422      -0.386       0.921
 Embarked_S[T.True]    -0.4740      0.217     -2.182      0.029      -0.900      -0.048
 Travel_Class          -0.8307      0.104     -7.990      0.000      -1.034      -0.627
 ======================================================================================
 """,
 <class 'statsmodels.iolib.summary.Summary'>
 """
                            Logit Regression Results
 ==============================================================================
 Dep. Variable:               Survived   No. Observations:                  712
 Model:                          Logit   Df Residuals:                      706
 Method:                           MLE   Df Model:                            5
 Date:                Sun, 12 May 2024   Pseudo R-squ.:                  0.3181
 Time:                        15:54:11   Log-Likelihood:                -324.47
 converged:                       True   LL-Null:                       -475.84
 Covariance Type:            nonrobust   LLR p-value:                 2.570e-63
 ======================================================================================
                          coef    std err          z      P>|z|      [0.025      0.975]
 --------------------------------------------------------------------------------------
 Intercept              5.0071      0.529      9.472      0.000       3.971       6.043
 Sex_male[T.True]      -2.5856      0.209    -12.364      0.000      -2.995      -2.176
 Embarked_Q[T.True]     0.0949      0.402      0.236      0.814      -0.694       0.884
 Embarked_S[T.True]    -0.3804      0.261     -1.459      0.145      -0.891       0.131
 Travel_Class          -1.1519      0.141     -8.152      0.000      -1.429      -0.875
 Age                   -0.0336      0.008     -4.238      0.000      -0.049      -0.018
 ======================================================================================
 """,
 <class 'statsmodels.iolib.summary.Summary'>
 """
                            Logit Regression Results
 ==============================================================================
 Dep. Variable:               Survived   No. Observations:                  712
 Model:                          Logit   Df Residuals:                      709
 Method:                           MLE   Df Model:                            2
 Date:                Sun, 12 May 2024   Pseudo R-squ.:                 0.01361
 Time:                        15:54:11   Log-Likelihood:                -469.36
 converged:                       True   LL-Null:                       -475.84
 Covariance Type:            nonrobust   LLR p-value:                  0.001536
 =======================================================================================
                           coef    std err          z      P>|z|      [0.025      0.975]
 ---------------------------------------------------------------------------------------
 Intercept              -0.5069      0.089     -5.698      0.000      -0.681      -0.333
 NumSiblings_Spouses    -0.1777      0.082     -2.173      0.030      -0.338      -0.017
 NumParents_Children     0.3917      0.116      3.380      0.001       0.165       0.619
 =======================================================================================
 """)

In [29]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# What evaluation metric do you prefer?
## Accuracy
Measures the overall correctness of the model (i.e., the ratio of correct predictions to the total number of samples).
## Precision (Positive Predictive Value
Measures the ratio of correct positive predictions to the total predicted positives. It answers the question: Of all samples labeled as positive, how many actually belong to the positive class?
## Recall (Sensitivity, True Positive Rate)
Measures the ratio of correct positive predictions made in relation to all actual positives
## F1-Score 
The harmonic mean of precision and recall. It is used to balance the trade-off between precision and recall, particularly when you have class imbalance.

In [ ]:
# Calculate metrics for the training set
accuracy_train = accuracy_score(y_train, y_pred_train)
precision_train = precision_score(y_train, y_pred_train)
recall_train = recall_score(y_train, y_pred_train)
f1_train = f1_score(y_train, y_pred_train)

# Calculate metrics for the testing set
accuracy_test = accuracy_score(y_test, y_pred_test)
precision_test = precision_score(y_test, y_pred_test)
recall_test = recall_score(y_test, y_pred_test)
f1_test = f1_score(y_test, y_pred_test)

In [68]:
# Redefine the evaluation function to adapt to Statsmodels and apply it to available test data

def evaluate_model_performance(model, X, y_true):
    # Predict using the logistic regression model from statsmodels, adjusting intercept for predict
    X_with_intercept = sm.add_constant(X, has_constant='add')
    predictions_prob = model.predict(X_with_intercept)
    predictions = (predictions_prob > 0.5).astype(int)  # Binarize predictions based on threshold of 0.5
    
    # Calculate metrics
    accuracy = accuracy_score(y_true, predictions)
    precision = precision_score(y_true, predictions)
    recall = recall_score(y_true, predictions)
    f1 = f1_score(y_true, predictions)
    
    return {
        'Accuracy': accuracy,
        'Precision': precision,
        'Recall': recall,
        'F1-Score': f1
    }

In [69]:
# Evaluate each model
metrics_model_1 = evaluate_model_performance(model_1, X_test, y_test)
metrics_model_2 = evaluate_model_performance(model_2, X_test, y_test)
metrics_model_3 = evaluate_model_performance(model_3, X_test, y_test)
metrics_model_4 = evaluate_model_performance(model_4, X_test, y_test)

In [38]:
metrics_model_1

{'Accuracy': 0.7932960893854749,
 'Precision': 0.7,
 'Recall': 0.7538461538461538,
 'F1-Score': 0.725925925925926}

In [34]:
metrics_model_2

{'Accuracy': 0.7206703910614525,
 'Precision': 0.6415094339622641,
 'Recall': 0.5230769230769231,
 'F1-Score': 0.5762711864406779}

In [35]:
metrics_model_3

{'Accuracy': 0.7821229050279329,
 'Precision': 0.6911764705882353,
 'Recall': 0.7230769230769231,
 'F1-Score': 0.7067669172932332}

In [36]:
metrics_model_4

{'Accuracy': 0.6424581005586593,
 'Precision': 0.5333333333333333,
 'Recall': 0.12307692307692308,
 'F1-Score': 0.2}

# How did you evaluate models performance?
Model 1 outperforms the other **models** across all the metrics used.

**Highest Accuracy:** Model 1 has the highest accuracy (0.793), indicating that it correctly predicts a larger percentage of the total outcomes.ly.

**Highest Precision:** Model 1 also leads in precision (0.7), which suggests that it is better at predicting positive instances among the instances it predicts as positive.


**Highest Recall:** Model 1 shows the highest recall (0.753), which means it is better at identifying all relevant instances.

**Highest F1-Score:** Model 1 again has the highest F1-score (0.726), balancing precision and recall effectively.

# How did you diagnose the model?

In [70]:
# Adding a constant for the intercept since Statsmodels does not add it by default for predictions
X_train_with_const = sm.add_constant(X_train, has_constant='add')
train_predictions_prob = model_1.predict(X_train_with_const)
train_predictions = (train_predictions_prob > 0.5).astype(int)

In [71]:
# Adding a constant for the intercept
X_test_with_const = sm.add_constant(X_test, has_constant='add')
test_predictions_prob = model_1.predict(X_test_with_const)
test_predictions = (test_predictions_prob > 0.5).astype(int)

In [73]:
# Metrics for training data
train_accuracy = accuracy_score(y_train, train_predictions)
train_precision = precision_score(y_train, train_predictions)
train_recall = recall_score(y_train, train_predictions)
train_f1 = f1_score(y_train, train_predictions)

# Metrics for testing data
test_accuracy = accuracy_score(y_test, test_predictions)
test_precision = precision_score(y_test, test_predictions)
test_recall = recall_score(y_test, test_predictions)
test_f1 = f1_score(y_test, test_predictions)

# Is it overfitting, under fitting, or good fitting?

In [75]:
# Print metrics
print("Training Metrics:")
print(f"Accuracy: {train_accuracy}, Precision: {train_precision}, Recall: {train_recall}, F1-Score: {train_f1}")

print("\nTesting Metrics:")
print(f"Accuracy: {test_accuracy}, Precision: {test_precision}, Recall: {test_recall}, F1-Score: {test_f1}")

print('The model appears to be well-fitted. It shows no signs of overfitting or underfitting, as evidenced by the very similar performance metrics across training and testing datasets.')

Training Metrics:
Accuracy: 0.7935393258426966, Precision: 0.75, Recall: 0.703971119133574, F1-Score: 0.7262569832402234

Testing Metrics:
Accuracy: 0.7932960893854749, Precision: 0.7, Recall: 0.7538461538461538, F1-Score: 0.725925925925926
The model appears to be well-fitted. It shows no signs of overfitting or underfitting, as evidenced by the very similar performance metrics across training and testing datasets.

# What is your model's results? Is it good? Do you have any concerns?
Model appears to be performing well with no major signs of overfitting or underfitting.


The model's performance is evaluated using several metrics which demonstrate how accurately it predicts outcomes, both during training and testing phases. In training, it achieved an accuracy o**f 79.3**5%, a precision o**f 7**5%, a recall o**f 70.3**9%, and an F1-score o**f 72.6**6%. Similarly, in testing, it maintained consistent performance with an accuracy o**f 79.3**3%, precision o**f 7**0%, recall o**f 75.3**8%, and an F1-score o**f 72.5**9%. These metrics indicate that the model is reliable and generalizes well to new, unseen data, suggesting a balanced approach between how often it is correct (precision) and how complete its predictions are (recall).

# Do you have any concerns?
The slight difference in precision between the training (0.75) and testing (0.70) metrics. 
While the precision difference is not large, it's good practice to monitor such changes as they might indicate how the model will perform as more data is introduced or in different operational settings. It might also be beneficial to look into model tuning or regularization techniques to minimize overfitting, ensuring that the model remains generalizable and robust.