In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
gdp_df = pd.read_csv('cleaned_gdp_df.csv')
gdp_df.head()

,Country_Name,Year,Exports,GDP,GNI,Imports,Labor_Force,Population
0,Afghanistan,2009,0.0,1.241615e+10,1.237834e+10,0.0,6504675,27385307
1,Afghanistan,2010,0.0,1.585667e+10,1.588578e+10,0.0,6738587,28189672
2,Afghanistan,2011,0.0,1.780510e+10,1.778151e+10,0.0,7095658,29249157
3,Afghanistan,2012,0.0,1.990733e+10,1.996126e+10,0.0,7520865,30466479
4,Afghanistan,2013,0.0,2.014642e+10,2.020935e+10,0.0,7881567,31541209